#blog {
  padding: 50px 20px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  background-color: #3F5B5B;
}

#blog h1 {
  color: #ffffff;
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 80px;
  margin-top: 0px;
}

#grid-blog {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 380px;
  gap: 30px;
}

.blog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 25px;
  overflow: hidden;
  box-shadow: 6px 6px 20px 0px #0e0e0ec2;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.blog-card:hover {
  transform: scale(1.03);
}

.blog-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 70%);
  z-index: 1;
}

.blog-card h3,
.blog-card p{
  position: relative;
  z-index: 2;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.blog-card h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.blog-card p {
  font-size: 14px;
  opacity: 0.9;
}

.btn-blog {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  z-index: 2;
}

.btn-blog:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn-blog-todos {
  margin-top: 40px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border: none;
  background-color: #AD894F;
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-blog-todos:hover {
  background-color: #ffffff;
  color: #000000;
}