@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bagel+Fat+One&family=Barrio&family=Bitcount:wght@100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cherry+Bomb+One&family=Coral+Pixels&family=Handjet:wght,ELSH@100..900,2&family=Honk:MORF@15&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rubik+Glitch&display=swap');

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #152F2F;
  color: #fff;
  padding: 20px 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.scrollTop {
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
  text-decoration: none;
  line-height: 1;
  transition: transform 0.3s, background-color 0.3s;
  width: 70px;
  height: 70px;
  padding: 15px;
  margin: 0px 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.scrollTop:hover {
  background-color: #3F5B5B;
  transform: translateY(-5px);
}

.contatos {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.contatos a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  text-transform: uppercase;
}

.contatos a:hover {
  color: #3F5B5B;
}

.footer p {
  font-size: 14px;
  opacity: 0.7;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {
  .contatos {
    flex-direction: column;
    gap: 10px;
  }
}