.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 34, 29, 0.199);
  top: 0;
  z-index: 1000;
  padding: 60px;
  padding-bottom: 80px;
  letter-spacing: 1px;
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(to bottom, black 58%, transparent 100%);
}

.nav a:hover {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.navUl {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navItem {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5px;
}

.navItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contatoBtn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 5px 8px 5px 18px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
  text-align: left;
  position: absolute;
  right: 130px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.seta {
  background-color: #000000;
  padding: 0px 15px 0px 15px;
  color: #ffffff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.contatoBtn:hover {
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contatoBtn:hover .seta {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo {
  position: absolute;
  left: 130px;
  display: flex;
  align-items: center;
  gap: 50px;
  width: 90px;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2000;
  position: absolute;
  right: 20px;
}

.burger span {
  background: #fff;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
}
.burger span:nth-child(2) {
  top: 9px;
}
.burger span:nth-child(3) {
  top: 18px;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px;
}

@media (max-width: 1024px) {
  .nav {
    padding: 20px;
    justify-content: space-between;
    mask-image: none !important;
  }
  .logo {
    position: static;
    width: 70px;
  }
  .navActions {
    display: none;
  }
  .burger {
    display: block;
  }
  .navUl {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 34, 29, 0.95);
    z-index: 1000;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease, padding 0.3s ease;
    padding: 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  .navUl.active {
    max-height: 500px;
    opacity: 1;
    padding: 30px 0;
  }
}