@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bagel+Fat+One&family=Barrio&family=Bitcount:wght@100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cherry+Bomb+One&family=Coral+Pixels&family=Handjet:wght,ELSH@100..900,2&family=Honk:MORF@15&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rubik+Glitch&display=swap');

a{
  text-decoration: none;
    color: inherit;
}

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(0, 34, 29, 0.199);
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(to bottom, black 58%, transparent 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  height: 90px;
  padding: 0 130px;
}

.nav a:hover {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.navUl {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navItem {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5px;
}

.navItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contatoBtn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 5px 8px 5px 18px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.seta {
  background-color: #000000;
  padding: 0px 15px 0px 15px;
  color: #ffffff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.contatoBtn:hover {
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contatoBtn:hover .seta {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  width: 90px;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2000;
}

.burger span {
  background: #fff;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.burger span:nth-child(1) { top: 0px; }
.burger span:nth-child(2) { top: 9px; }
.burger span:nth-child(3) { top: 18px; }

.burger.open span:nth-child(1) { transform: rotate(45deg); top: 9px; }
.burger.open span:nth-child(2) { opacity: 0; }
.burger.open span:nth-child(3) { transform: rotate(-45deg); top: 9px; }

@media (max-width: 1024px) {
  .nav {
    padding: 20px;
    justify-content: space-between;
  }
  .navContainer {
    position: fixed !important;
    width: 100vw;
  }
  .logo { width: 70px; }
  .navActions { display: none; }
  .burger { display: block; }
  .navUl {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 34, 29, 0.95);
    z-index: 9999;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease, padding 0.3s ease;
    padding: 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  .navUl.active {
    max-height: 500px;
    opacity: 1;
    padding: 30px 0;
  }
}