@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bagel+Fat+One&family=Barrio&family=Bitcount:wght@100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cherry+Bomb+One&family=Coral+Pixels&family=Handjet:wght,ELSH@100..900,2&family=Honk:MORF@15&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rubik+Glitch&display=swap');

.solucoes {
    display: flex;
    padding: 4rem 0;
    background-color: #b6cec694;
    justify-content: center;
    margin: 0 auto;
}

.containerSolucoes {
    border-radius: 3rem;
    padding: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 1400px;
    box-shadow: 0 10px 15px 8px #0000001a;
}

.solucoesInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.solucoesTitulo {
    font-size: 60px;
    font-weight: 900;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.solucoesDescricao {
    font-size: 18px;
    color: #666;
    text-align: center;
    max-width: 600px;
    font-family: 'Arial', sans-serif;
}

.destaqueSolucoes {
    font-family: 'Montserrat', sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px #A6834C;
    text-transform: uppercase;
}

.solucoesCards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin-top: -30px;
}

.solucoesCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    border-radius: 2rem;
    cursor: pointer;
    border: #e6e5e5 solid 1px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.solucoesImg {
    width: 150px;
    height: 150px;
    border-radius: 3rem;
    padding: 40px;
    background-color: #3F5B5B;
}

.solucoesCardTitulo {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    max-width: 200px;
    text-align: center;
}

.solucoesCard p {
    margin-top: -15px;
    font-size: 13px;
    color: #666;
    text-align: center;
    max-width: 200px;
    font-family: 'Arial', sans-serif;
}

.solucoesCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px 8px #18363628;
}

@media (max-width: 1024px) {
    .containerSolucoes {
        width: 90%;
    }
    .solucoesTitulo {
        font-size: 40px;
    }
}